.loginMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-image: url("../../Images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(255, 115, 63); */
    font-family: cursive;
    height: 100vh;
}

.loginForm{
    border: 2px solid black;
    padding: 3rem;
    border-radius: 10px;
    background-color: transparent; 
    margin-bottom: 2rem;
    width: 20%;
    margin-left: 50%;
    /* margin-top: 40%; */
}

.inputField label{
    display: flex;
    flex-direction: column;
}

.btn{
    padding: 0.5rem 1rem;
    font-size: 18px;
    background-color: black;
    color: white;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.5s ease-in;
    margin-top: 2rem;
}

.btn:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    font-weight: 600;
}

.heading{
    margin-top: -2rem;
    color: black;
    text-decoration: underline;
}

.mainHeading1{
   margin-left: -1rem;
   margin-bottom: 8rem;
   top: 0;
}

.p{
    font-size: 12px;
    color: red;
    background-color: rgb(252, 182, 182);
    width: fit-content;
}